@model Entities.Concrete.Admin

@{
    ViewBag.Title = "Admin Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Admin Ekle</h1>
<br />
@using (Html.BeginForm("AddAdmin", "AdminWriter", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Ad")
        @Html.TextBoxFor(x => x.AdminFirstName, new { @class = "form-control" })
        <br />
        @Html.Label("Soyad")
        @Html.TextBoxFor(x => x.AdminLastName, new { @class = "form-control" })
        <br />
        @Html.Label("E-posta")
        @Html.TextBoxFor(x => x.AdminEmail, new { @class = "form-control" })
        <br />
        @Html.Label("Şifre")
        @Html.PasswordFor(x => x.AdminPassword, new { @class = "form-control" })
        <br />
        @Html.Label("Rol")
        @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">Kaydet</button>
    </div>
}
