@using Entities.Concrete
@model List<Heading>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Başlık Adı</th>
        <th>Kategori</th>
        <th>Yazar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.HeadingId</th>
            <td>@item.HeadingName</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.Writer.WriterFirstName @item.Writer.WriterLastName</td>
        </tr>
    }
</table>
<div>
    <a href="/AdminHeading/AddHeading" class="btn btn-success">Yeni Başlık</a>
</div>
