@using Entities.Concrete
@model List<Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    string color = "";
}

<!-- Default box -->
<div class="card">
    <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="width: 1%">
                        #
                    </th>
                    <th style="width: 20%">
                        Kategori Adı
                    </th>
                    <th style="width: 30%">
                        Açıklama
                    </th>
                    <th style="width: 8%" class="text-center">
                        Durum
                    </th>
                    <th style="width: 20%">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.CategoryStatus)
                    {
                        color = "badge-success";
                    }
                    else
                    {
                        color = "badge-danger";
                    }
                    <tr>
                        <td>
                            @item.CategoryId
                        </td>
                        <td>
                            <a>
                                @item.CategoryName
                            </a>
                        </td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    @item.CategoryDescription
                                </li>
                            </ul>
                        </td>
                        <td class="project-state">
                            <span class="badge @color">@item.CategoryStatus</span>
                        </td>

                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="#">
                                <i class="fas fa-folder">
                                </i>
                                Başlıklar
                            </a>
                            <a class="btn btn-info btn-sm" href="/AdminCategory/UpdateCategory/@item.CategoryId">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Düzenle
                            </a>
                            <a class="btn btn-danger btn-sm" href="/AdminCategory/DeleteCategory/@item.CategoryId">
                                <i class="fas fa-trash">
                                </i>
                                Sil
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
<div>
    <a href="/AdminCategory/AddCategory" class="btn btn-success">Yeni Kategori</a>
</div>
