@model Entities.Concrete.Admin

@{
    ViewBag.Title = "UpdateAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Güncelle</h2>
@using (Html.BeginForm("UpdateAdmin", "Auth", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.AdminId, new { @class = "form-control" })
        @Html.Label("E-posta")
        @Html.TextBoxFor(x => x.AdminEmail, new { @class = "form-control" })
        <br />
        @Html.Label("Şifre")
        @Html.PasswordFor(x => x.AdminPassword, new { @class = "form-control", @placeholder = "Değiştirmek için doldurunuz" })
        <br />
        @Html.Label("Rol")
        @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">Kaydet</button>
    </div>
}
